.page-title {
    font-size: 50px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #08b08f;
    text-shadow: 1px 1px 2px #aaa;
    letter-spacing: 0.02em;
    padding: 25px 20px 0 20px;
}

.table-title {
    font-family: "Nunito", sans-serif;
    margin-left: 15px;
    text-shadow: 0.5px 0.5px 1px #aaa;
    font-weight: bold;
    color: #08b08f;
}

.chart-title {
    font-family: "Nunito", sans-serif;
    text-shadow: 0.5px 0.5px 1px #aaa;
    font-weight: bold;
    color: #08b08f;
}

.title-banner {
    background-color:#b5e3da;
    padding: 20px 0 25px 0;
}

/* .banner {
    height: 50px;
    background-image: url("/images/money.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
} */

.content-table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    margin-left: 15px;
}

.content-table thead tr {
    background-color: #08b08f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.content-table th, 
.content-table td {
    padding: 12px 30px;
    border-bottom: 0.5px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #08b08f;
}

.category-food {
    color: #36A2EB;
    font-weight: 550;
}

.category-transportation {
    color: #FF6384;
    font-weight: 550;
}

.category-entertainment {
    color: #9966FF;
    font-weight: 550;
}

.category-shopping {
    color: #FFCE56;
    font-weight: 550;
}

.category-bills {
    color: #4BC0C0;
    font-weight: 550;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin: 25px 20px;
}

.chart-section {
    margin-left: 30px;
    width: 475px;
}

.chart-section h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    /* margin-left: 30px; */
}